html, body {
    margin: 0px;
    padding: 0px;
}

.top {
    background-color: blue;
}

.nav {
    
}

.nav-item {
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

.nav-item:hover {
    color: green;
}

.main {
    background-color: green;
}

.main-title {
    
}

.main-body {
    padding: 5px;
}

.news {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 12px;
}

.news-title {
    border-bottom: 1px solid black;
}

.news-body {
    
}

.update .news-body:first-child {
    background-color: red;
    color: white;
}

.footer {
    background-color: lime;
}

.changes {
    
}

.changes-item {
    
}

.changes-item:first-child {
    background-color: purple;
    color: white;
}