<!DOCTYPE html>
<html>

<head>

    <title>Homepage of Juha-Matti</title>

</head>

<body>

    <div class="top">
    
    		<div class="nav">
    		    <a class="nav-item" href="page.html">Home</a>
    		    <a class="nav-item" href="Portfolio.html">Portfolio</a>
    		</div>
    
    </div>
		
    <div class="main">
        
        <!--Welcome-->
        <h1 class="main-title">Welcome to my homepage</h1>
        
        <!--What is going on with me-->
        <p class="main-body"></p>
        
        <!--News-->
        <div class="news update">
            <h2 class="news-title">Travling to the Berlin</h2>
            <p class="news-body">Currently traveling to Berlin from Jyvaskyla, in a train to Helsinki and later I take plane.</p>
        </div>
        
    </div>
    <div class="footer">
    
        <!--Site changes-->
        <div class="changes">
            <p class="changes-item">Formatted mainpage with my own style. Nothingfancy yet though.</p>
            <p class="changes-item">Added a portfolio page <a href="Portfolio.html">here</a> in the end of year 2017.</p>
            
        </div>
        
    </div>
    
</body>

</html>
