<!DOCTYPE html>
<html>

<head>

<meta charset=utf-8>

<link href="./Styles/portfolio.css" rel="stylesheet" type="text/css"/>
<script src="./Scripts/portfolio.js" type="text/javascript"></script>

</head>

<body>



	<div class="languages">
		<span onclick="mySwitch(this)">Language:</span>
		<a onclick="myChange('eng')">English</a>
		<a onclick="myChange('fin')">Finnish</a>
	</div>

	<br><br>

<h1>About</h1>

	<p>
	<span class="fin">Portfolio eri ohjelmointi kielien projekteista</span>
	<span class="eng">Portfolio for different programming language projects</span>
	</p>

	<topics>
		<!--Thanks Daniel DiPaolo for header links, didn't know it worked in html aswell as in markdown https://stackoverflow.com/questions/2835140/how-do-i-link-to-part-of-a-page-hash-->
		<a href="#java">Java</a>
		<a href="#cpp">C++</a>
		<a href="#html">HTML</a>
		<a href="#unity">C# - Unity3D</a>
		<a href="#android">Android</a>
	</topics>

	<hr>

	<h1 id="java">Java</h1>

	<p>

	<a href="https://github.com/h8672/JavaZydeemi">JavaZydeemi</a>,

	<span class="fin">2D OpenGL peli. Tehty ryhmätyönä Antti Mäkelän kanssa. Se toimi paremmin esittelyn aikaan, mutta githubista ladattava varmaan korjataan tulevaisuudessa. Antti teki grafiikan, kun oli käyttänyt aiemminkin OpenGL:ää, ja itse keskityin enemmän fysiikkaan ja hahmoluokkiin.</span>
	<span class="eng">2D OpenGL game. A group work with Antti Mäkelä. Antti made the graphics as he had used OpenGL before, and I focused more in the physics and classes.</span>

	</p>
	<img src="https://github.com/h8672/JavaZydeemi/blob/master/Game/data/tekstuuri.png?raw=true">
	<img class="rotate ontop" src="https://raw.githubusercontent.com/h8672/JavaZydeemi/master/Game/data/tyyppi.png">
	<img src="https://github.com/h8672/JavaZydeemi/blob/master/Game/data/map/tile1.png?raw=true">
	<img class="rotate ontop" src="https://raw.githubusercontent.com/h8672/JavaZydeemi/master/Game/data/tyyppi.png">
	<img src="https://github.com/h8672/JavaZydeemi/blob/master/Game/data/map/tile4.png?raw=true">
	<img class="rotate ontop" src="https://raw.githubusercontent.com/h8672/JavaZydeemi/master/Game/data/tyyppi.png">

	<hr>

<h1 id="cpp">C++</h1>

	<p>

	<a href="https://github.com/h8672/Birdnest">Birdnest</a>,

	<span class="fin">3D OpenGL moottori. </span>
	<span class="eng">3D OpenGL engine. </span>

	</p>

	<img class="hover-x" src="http://student.labranet.jamk.fi/~H8672/kuvat/3D_opengl.JPG">

	<hr>

<h1 id="html">HTML</h1>

	<p>
	<a href="http://student.labranet.jamk.fi/~H8672/">Home page</a> before it broke... follow this page more plz! The old site is going to be out after graduating from JAMK.
	</p>

	<hr>

	<h1>Angular2</h1>

	<p>
	<a href="https://github.com/Jamk-IT-Tuntikirjaus/Jamk-IT-Tuntikirjaus">Tuntikirjaus</a>
	<span class="eng">
	Web app that might had a chance to replace the current class time management system at school.
	It went to hold for some reason. We used webpack and made documents how to set the server up.
	Consist of website (angular2), database (baasbox, mongodb).
	<br><br>
	My focus was in the website and database. No image at the moment.
	</span>
	</p>

	<hr>

<h1 id="unity">C# - Unity3D</h1>

	<p>
	<a href="https://github.com/JAMK-GameDev/game-development-project-2017-team-3-5">Fantasia Land</a>
	<span>Turnbased game in groupwork for class, acted as a group leader. We honed the story, made most of the base utilities required for the game and you can test it.</span>

	<br>

	<!--Link to WebGL build--><br>
	<a href="http://student.labranet.jamk.fi/~H8672/Uutta/pelisuunnittelu/Game/WebGL/">WebGL build</a>

	</p>

	<hr>

<h1 id="android">Android</h1>

	<p>
	<a href="https://github.com/Replica94/moveometri">Moveometri</a>
	<span>Utilizes androids location and time and uses Google maps api to provide a trip timer.
	When you have made trips, by logging in your new trips can be saved in an external database!
	The server is coded in D language and uses Vibe.d library.
	<br><br>
	Group work of 3 people. I made the timer activity.</span>
	</p>

	<img class="hover-y" src="https://github.com/Replica94/moveometri/blob/master/Pictures/pic10.png?raw=true">
	<img class="hover-y" src="https://github.com/Replica94/moveometri/blob/master/Pictures/pic2.png?raw=true">
	<img class="hover-y" src="https://github.com/Replica94/moveometri/blob/master/Pictures/pic9.png?raw=true">

	<hr>

<h1 id="contact">Contact me!</h1>

	<p>
	<a href="mailto:juhamk91@gmail.com">Gmail</a><br>
	<a href="https://github.com/h8672">Github</a><br>
	<a href="https://discordapp.com/channels/156108183922802688/392643383996448769/">Discord</a><br>
	</p>

</body>

</html>

